---
import BaseLayout from "../../layouts/BaseLayout.astro";
import InfoAbonados from "../../components/info-abonados/InfoAbonados.astro";
---

<BaseLayout
  title="Información a Abonados y Usuarios"
  description="Documentos, reglamentos y contratos para abonados y usuarios de Fiberlux Corp."
>
  <main>
    <InfoAbonados />
  </main>
</BaseLayout>
