---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Contact from "../../components/contact/Contact.astro";
---

<BaseLayout
  title="Contacto"
  description="Ingresa tus datos y un representante de Fiberlux Corp te contactará pronto."
>
  <main>
    <Contact />
  </main>
</BaseLayout>
