---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { client } from "../../../tina/__generated__/client";
import HeroCasos from "../../components/casos-de-exito/HeroCasos.astro";
import CasosSlider from "../../components/casos-de-exito/CasosSlider.astro";

const casosQuery = await client.queries.casosDeExito({
  relativePath: "index.json",
});
const page = casosQuery.data.casosDeExito;
const seo = page?.seo;

const title = seo?.metaTitle || page?.heading || "Casos de éxito";
const description =
  seo?.metaDescription ||
  "Conoce cómo empresas líderes potencian su conectividad, seguridad y comunicación con las soluciones de Fiberlux Corp.";
---

<BaseLayout title={title} description={description}>
  <main>
    <HeroCasos />
    <CasosSlider />
  </main>
</BaseLayout>
