---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroServicios from "../../components/servicios/HeroServicios.astro";
import StickyCards from "../../components/shared/StickyCards.astro";
---

<BaseLayout
  title="Servicios"
  description="Conoce nuestros servicios: soluciones tecnológicas de conectividad, ciberseguridad, data center y servicios gestionados respaldadas por la red 100% fibra óptica de Fiberlux Corp."
>
  <main>
    <HeroServicios />
    <StickyCards />
  </main>
</BaseLayout>
