---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSoporte from "../../components/soporte/HeroSoporte.astro";
import CanalesSoporte from "../../components/soporte/CanalesSoporte.astro";
---

<BaseLayout
  title="Soporte técnico"
  description="Contáctate con nuestros ingenieros especializados. Soporte técnico de Fiberlux Corp por WhatsApp, llamada o correo."
>
  <main>
    <HeroSoporte />
    <CanalesSoporte />
  </main>
</BaseLayout>
